.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.maven.ide.eclipse.prefs
target/classes/META-INF/annotations/hudson.Extension
target/classes/META-INF/exposed.stapler-beans
target/classes/hudson/plugins/campfire/CampfirePublisher$DescriptorImpl.class
target/classes/hudson/plugins/campfire/CampfirePublisher.class
target/classes/hudson/plugins/campfire/CampfirePublisher.stapler
target/classes/hudson/plugins/campfire/CampfirePublisher/config.jelly
target/classes/hudson/plugins/campfire/CampfirePublisher/global.jelly
target/classes/hudson/plugins/campfire/CampfirePublisher/help-name.html
target/classes/hudson/plugins/campfire/UserCampfireProperty$DescriptorImpl.class
target/classes/hudson/plugins/campfire/UserCampfireProperty.class
target/classes/hudson/plugins/campfire/UserCampfireProperty.javadoc
target/classes/hudson/plugins/campfire/UserCampfireProperty.stapler
target/classes/hudson/plugins/campfire/UserCampfireProperty/config.jelly
target/classes/hudson/plugins/campfire/util/RubyLauncher.class
target/classes/index.jelly
target/classes/ruby/boot.rb
target/classes/ruby/notifier.rb
target/surefire-reports/TEST-hudson.plugins.campfire.RubyLauncherTest.xml
target/surefire-reports/hudson.plugins.campfire.RubyLauncherTest.txt
target/test-classes/hudson/plugins/campfire/RubyLauncherTest.class
target/test-classes/the.hpl